<div class="wrapper">
  <div class="page-navigation">
    <!-- <zj-nav></zj-nav> -->
  </div>
  <div class="page-wrapper">
    <div class="page-header">
      <!-- <zj-header></zj-header> -->
    </div>
    <div class="page-content">
      {{ new Date() | dateFormat}} {{$t('warmReminder')}}
      <el-button type="text" @click="open">点击打开 Message Box</el-button>
      <el-button type="text" @click="onSwitch">点击切换语言</el-button>
    </div>
    <div class="page-footer">
      <footer class="footer">
        <div class="pull-right">
          © 2016-2018
          <a>泽佳科技</a>
        </div>
      </footer>
    </div>
  </div>
</div>